In [241]:
import pandas as pd

fileformat = "DAILYDATA_S24_"

#list of years of interest.
year = ["2020","2019","2018"] 

#dictionary to look up all available months for each year.
yearMonths = { 
    "2020":["01","02","03","04","05","06","07","08","09","10","11","12"],
    "2019":["01","02","03","04","05","06","07","08","09","10","11","12"],
    "2018":["01","02","03","04","05","06","07","08","09","10","11","12"]
}

#A lookup table for the area code in the script to look for the file
areaCode = {
    "Tengah":"S23",
    "Jurong West":"S44",
    "Changi":"S24"
}


def createDF(location,year,yearMonths):
    #Edit this to change location
    locCode = areaCode[location]
    fileformat = "DAILYDATA_"+locCode+"_"
    directory = ".\\data\\" + location + "\\" + fileformat
    
    for i in year:
        for j in yearMonths[i]:
            fileLink = directory + i+j +".csv"
            #print(fileLink)
            if (j=="01" and i=="2020"): #Create first dataframe to peg onto
                df1 = pd.read_csv(fileLink,na_values=["-","—",""," "],encoding= 'unicode_escape') #Create a dataframe from the list
                df1.columns = ['Station', 'Year', 'Month', 'Day', 'Daily Rainfall Total (mm)',
           'Highest 30 min Rainfall (mm)', 'Highest 60 min Rainfall (mm)',
           'Highest 120 min Rainfall (mm)', 'Mean Temperature (°C)',
           'Maximum Temperature (°C)', 'Minimum Temperature (°C)',
           'Mean Wind Speed (km/h)', 'Max Wind Speed (km/h)']
            else:
                df2 = pd.read_csv(fileLink,na_values=["-","—",""," "],encoding= 'unicode_escape');
                df2.columns = ['Station', 'Year', 'Month', 'Day', 'Daily Rainfall Total (mm)',
           'Highest 30 min Rainfall (mm)', 'Highest 60 min Rainfall (mm)',
           'Highest 120 min Rainfall (mm)', 'Mean Temperature (°C)',
           'Maximum Temperature (°C)', 'Minimum Temperature (°C)',
           'Mean Wind Speed (km/h)', 'Max Wind Speed (km/h)']
                df1 = pd.concat([df1,df2]); #Add on to the list
            #print(df)
        #numeric handling
        for i in df1.columns[1:]:
            df1[i] = pd.to_numeric(df1[i],errors="coerce")
    return df1 #retuning the dataframe

dfTengah = createDF("Tengah",year,yearMonths)
dfJurong = createDF("Jurong West",year,yearMonths)
dfChangi = createDF("Changi",year,yearMonths)

In [242]:
dfChangi
dfChangi=dfChangi.reset_index()
dfChangi=dfChangi.drop(columns=['index'])
dfChangi

,Station,Year,Month,Day,Daily Rainfall Total (mm),Highest 30 min Rainfall (mm),Highest 60 min Rainfall (mm),Highest 120 min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
0,Changi,2020,1,1,0.0,0.0,0.0,0.0,27.9,31.7,25.6,12.2,39.2
1,Changi,2020,1,2,0.0,0.0,0.0,0.0,27.6,30.7,25.4,11.9,39.6
2,Changi,2020,1,3,0.0,0.0,0.0,0.0,28.0,31.9,26.0,12.6,43.2
3,Changi,2020,1,4,0.0,0.0,0.0,0.0,27.6,31.4,25.8,12.2,39.2
4,Changi,2020,1,5,0.0,0.0,0.0,0.0,27.8,32.0,25.1,12.6,40.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,Changi,2018,12,27,0.0,0.0,0.0,0.0,27.9,31.2,24.9,6.1,26.6
1092,Changi,2018,12,28,0.0,0.0,0.0,0.0,29.2,33.8,25.9,7.9,30.2
1093,Changi,2018,12,29,0.0,0.0,0.0,0.0,28.4,31.2,26.3,5.8,22.7
1094,Changi,2018,12,30,17.4,13.0,14.8,16.6,28.0,33.8,25.6,7.6,38.5
1095,Changi,2018,12,31,39.2,21.4,25.6,32.2,27.1,32.0,24.8,6.8,31.3

In [243]:
dfJurong
dfJurong=dfJurong.reset_index()
dfJurong=dfJurong.drop(columns=['index'])
dfJurong

,Station,Year,Month,Day,Daily Rainfall Total (mm),Highest 30 min Rainfall (mm),Highest 60 min Rainfall (mm),Highest 120 min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
0,Jurong (West),2020,1,1,0.0,0.0,0.0,0.0,27.2,31.4,24.3,9.4,36.7
1,Jurong (West),2020,1,2,0.0,0.0,0.0,0.0,27.0,30.6,24.0,8.6,32.8
2,Jurong (West),2020,1,3,2.8,2.6,2.6,2.6,26.9,31.2,24.7,9.0,35.3
3,Jurong (West),2020,1,4,0.2,0.2,0.2,0.2,26.6,30.5,24.3,7.9,34.6
4,Jurong (West),2020,1,5,0.0,0.0,0.0,0.0,27.3,32.2,24.1,10.4,33.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,Jurong (West),2018,12,27,0.0,0.0,0.0,0.0,26.8,29.4,24.9,8.6,34.6
1092,Jurong (West),2018,12,28,0.0,0.0,0.0,0.0,28.4,31.9,25.8,10.1,41.8
1093,Jurong (West),2018,12,29,1.4,1.0,1.2,1.4,27.0,29.7,23.7,7.2,21.2
1094,Jurong (West),2018,12,30,0.0,0.0,0.0,0.0,28.1,32.9,25.7,7.9,29.5
1095,Jurong (West),2018,12,31,10.8,3.2,5.6,7.4,26.5,31.2,24.4,7.6,42.5

In [244]:
dfTengah
dfTengah=dfTengah.reset_index()
dfTengah=dfTengah.drop(columns=['index'])
dfTengah

,Station,Year,Month,Day,Daily Rainfall Total (mm),Highest 30 min Rainfall (mm),Highest 60 min Rainfall (mm),Highest 120 min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
0,Tengah,2020,1,1,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Tengah,2020,1,2,0.0,0.0,0.0,0.0,NaN,31.4,24.6,14.4,40.7
2,Tengah,2020,1,3,1.4,1.2,1.2,1.4,NaN,31.6,24.8,15.8,38.9
3,Tengah,2020,1,4,2.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN
4,Tengah,2020,1,5,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,Tengah,2018,12,27,0.0,NaN,NaN,NaN,NaN,31.0,24.8,10.1,29.5
1092,Tengah,2018,12,28,0.0,NaN,NaN,NaN,NaN,34.0,23.5,15.1,35.3
1093,Tengah,2018,12,29,0.6,NaN,NaN,NaN,NaN,31.0,23.5,7.6,20.5
1094,Tengah,2018,12,30,0.0,NaN,NaN,NaN,NaN,35.0,25.0,10.8,27.7
1095,Tengah,2018,12,31,25.6,NaN,NaN,NaN,NaN,31.5,23.9,9.4,35.3

In [245]:
#Processing Missing Values
dfTengah["Maximum Temperature (°C)"]=dfTengah["Maximum Temperature (°C)"].fillna(dfTengah["Maximum Temperature (°C)"].mean())
dfTengah["Minimum Temperature (°C)"]=dfTengah["Minimum Temperature (°C)"].fillna(dfTengah["Minimum Temperature (°C)"].mean())
dfTengah["Mean Temperature (°C)"]=(dfTengah["Maximum Temperature (°C)"]+dfTengah["Minimum Temperature (°C)"])/2
dfTengah

,Station,Year,Month,Day,Daily Rainfall Total (mm),Highest 30 min Rainfall (mm),Highest 60 min Rainfall (mm),Highest 120 min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
0,Tengah,2020,1,1,0.0,0.0,0.0,0.0,28.389981,32.515181,24.264782,NaN,NaN
1,Tengah,2020,1,2,0.0,0.0,0.0,0.0,28.000000,31.400000,24.600000,14.4,40.7
2,Tengah,2020,1,3,1.4,1.2,1.2,1.4,28.200000,31.600000,24.800000,15.8,38.9
3,Tengah,2020,1,4,2.0,2.0,2.0,2.0,28.389981,32.515181,24.264782,NaN,NaN
4,Tengah,2020,1,5,0.0,0.0,0.0,0.0,28.389981,32.515181,24.264782,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,Tengah,2018,12,27,0.0,NaN,NaN,NaN,27.900000,31.000000,24.800000,10.1,29.5
1092,Tengah,2018,12,28,0.0,NaN,NaN,NaN,28.750000,34.000000,23.500000,15.1,35.3
1093,Tengah,2018,12,29,0.6,NaN,NaN,NaN,27.250000,31.000000,23.500000,7.6,20.5
1094,Tengah,2018,12,30,0.0,NaN,NaN,NaN,30.000000,35.000000,25.000000,10.8,27.7
1095,Tengah,2018,12,31,25.6,NaN,NaN,NaN,27.700000,31.500000,23.900000,9.4,35.3

In [246]:
import numpy as np

def mod_outlier(df):

        df2 = df["Mean Temperature (°C)"]._get_numeric_data()
        q1 = df["Mean Temperature (°C)"].quantile(0.25)
        q3 = df["Mean Temperature (°C)"].quantile(0.75)

        iqr = q3 - q1

        lower_bound = q1 -(1.5 * iqr) 
        upper_bound = q3 +(1.5 * iqr)
        print(lower_bound)
        print(upper_bound)

        for i in range(0,len(df2)):
            if df2[i] < lower_bound:            
                df2[i] = np.nan

            if df2[i] > upper_bound:            
                df2[i] = np.nan    

        return(df2)
    
dfTengah["Mean Temperature (°C)"]=mod_outlier(dfTengah)
dfJurong["Mean Temperature (°C)"]=mod_outlier(dfJurong)
dfChangi["Mean Temperature (°C)"]=mod_outlier(dfChangi)
dfTengah["Mean Temperature (°C)"]=mod_outlier(dfTengah)

25.85
31.050000000000004
24.400000000000006
30.799999999999997
24.999999999999996
31.400000000000002
26.224999999999994
30.825000000000003

In [247]:
print(dfTengah.isnull().sum(axis = 0))
print(dfJurong.isnull().sum(axis = 0))
print(dfChangi.isnull().sum(axis = 0))

Station                            0
Year                               0
Month                              0
Day                                0
Daily Rainfall Total (mm)          0
Highest 30 min Rainfall (mm)     733
Highest 60 min Rainfall (mm)     735
Highest 120 min Rainfall (mm)    735
Mean Temperature (°C)             49
Maximum Temperature (°C)           0
Minimum Temperature (°C)           0
Mean Wind Speed (km/h)           295
Max Wind Speed (km/h)             94
dtype: int64
Station                           0
Year                              0
Month                             0
Day                               0
Daily Rainfall Total (mm)         0
Highest 30 min Rainfall (mm)      3
Highest 60 min Rainfall (mm)      5
Highest 120 min Rainfall (mm)     5
Mean Temperature (°C)            13
Maximum Temperature (°C)          1
Minimum Temperature (°C)          1
Mean Wind Speed (km/h)            0
Max Wind Speed (km/h)             0
dtype: int64
Station                           0
Year                              0
Month                             0
Day                               0
Daily Rainfall Total (mm)         0
Highest 30 min Rainfall (mm)      3
Highest 60 min Rainfall (mm)      5
Highest 120 min Rainfall (mm)     5
Mean Temperature (°C)            10
Maximum Temperature (°C)          0
Minimum Temperature (°C)          0
Mean Wind Speed (km/h)            1
Max Wind Speed (km/h)             7
dtype: int64

In [248]:
#Processing Missing Values
dfTengah["Mean Temperature (°C)"]=dfTengah["Mean Temperature (°C)"].fillna(dfTengah["Mean Temperature (°C)"].median())
dfJurong["Mean Temperature (°C)"]=dfJurong["Mean Temperature (°C)"].fillna(dfJurong["Mean Temperature (°C)"].median())
dfChangi["Mean Temperature (°C)"]=dfChangi["Mean Temperature (°C)"].fillna(dfChangi["Mean Temperature (°C)"].median())

In [249]:
print(dfTengah.isnull().sum(axis = 0))
print(dfJurong.isnull().sum(axis = 0))
print(dfChangi.isnull().sum(axis = 0))

Station                            0
Year                               0
Month                              0
Day                                0
Daily Rainfall Total (mm)          0
Highest 30 min Rainfall (mm)     733
Highest 60 min Rainfall (mm)     735
Highest 120 min Rainfall (mm)    735
Mean Temperature (°C)              0
Maximum Temperature (°C)           0
Minimum Temperature (°C)           0
Mean Wind Speed (km/h)           295
Max Wind Speed (km/h)             94
dtype: int64
Station                          0
Year                             0
Month                            0
Day                              0
Daily Rainfall Total (mm)        0
Highest 30 min Rainfall (mm)     3
Highest 60 min Rainfall (mm)     5
Highest 120 min Rainfall (mm)    5
Mean Temperature (°C)            0
Maximum Temperature (°C)         1
Minimum Temperature (°C)         1
Mean Wind Speed (km/h)           0
Max Wind Speed (km/h)            0
dtype: int64
Station                          0
Year                             0
Month                            0
Day                              0
Daily Rainfall Total (mm)        0
Highest 30 min Rainfall (mm)     3
Highest 60 min Rainfall (mm)     5
Highest 120 min Rainfall (mm)    5
Mean Temperature (°C)            0
Maximum Temperature (°C)         0
Minimum Temperature (°C)         0
Mean Wind Speed (km/h)           1
Max Wind Speed (km/h)            7
dtype: int64

In [250]:
column_names = ['Station', 'Year', 'Month', 'Day', 'Daily Rainfall Total (mm)',
           'Highest 30 min Rainfall (mm)', 'Highest 60 min Rainfall (mm)',
           'Highest 120 min Rainfall (mm)', 'Mean Temperature (°C)',
           'Maximum Temperature (°C)', 'Minimum Temperature (°C)',
           'Mean Wind Speed (km/h)', 'Max Wind Speed (km/h)']
df_total = pd.DataFrame(columns = column_names) ##Creating new dataframe for total storage

for i in [dfChangi,dfJurong,dfTengah]:
    df_total = pd.concat([df_total,i])
    
df_total

df_total=df_total.reset_index()
df_total=df_total.drop(columns=['index'])
df_total

,Station,Year,Month,Day,Daily Rainfall Total (mm),Highest 30 min Rainfall (mm),Highest 60 min Rainfall (mm),Highest 120 min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
0,Changi,2020,1,1,0.0,0.0,0.0,0.0,27.90,31.7,25.6,12.2,39.2
1,Changi,2020,1,2,0.0,0.0,0.0,0.0,27.60,30.7,25.4,11.9,39.6
2,Changi,2020,1,3,0.0,0.0,0.0,0.0,28.00,31.9,26.0,12.6,43.2
3,Changi,2020,1,4,0.0,0.0,0.0,0.0,27.60,31.4,25.8,12.2,39.2
4,Changi,2020,1,5,0.0,0.0,0.0,0.0,27.80,32.0,25.1,12.6,40.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3283,Tengah,2018,12,27,0.0,NaN,NaN,NaN,27.90,31.0,24.8,10.1,29.5
3284,Tengah,2018,12,28,0.0,NaN,NaN,NaN,28.75,34.0,23.5,15.1,35.3
3285,Tengah,2018,12,29,0.6,NaN,NaN,NaN,27.25,31.0,23.5,7.6,20.5
3286,Tengah,2018,12,30,0.0,NaN,NaN,NaN,30.00,35.0,25.0,10.8,27.7
3287,Tengah,2018,12,31,25.6,NaN,NaN,NaN,27.70,31.5,23.9,9.4,35.3

In [251]:
# seed the pseudorandom number generator
from random import seed
from random import random
from random import randint
# seed random number generator
seed(1)
# generate some random numbers

def randDays(arrayDays,maxNum):
    arrayDays = []
    i = 0
    while (i < maxNum):
        r = randint(1,30) #generate random number
        if (r not in arrayDays): #ensure no duplicates
            arrayDays.append(r)
            i = i +1        
    return arrayDays

daysArray = []

sampleMonth = [9,8,9,8,9,8,9,9,8,9,8,9]

station = ["Changi","Jurong (West)","Tengah"]
df = pd.DataFrame(columns = column_names) ##Creating new dataframe for final storage

for i in range(12):
    monthArray = randDays(daysArray,sampleMonth[i]) #creating array of days
    daysArray.append(monthArray)
    
print(daysArray)
    
for location in station:
    df1 = df_total[df_total.Station == location]
    for i in range(12):
        df2 = df1[df1.Month == (i+1)] #add one to hit the right value for the month, starting with 1
        #Generate random numbers of interest for the month
        monthArray = daysArray[i]
        for j in monthArray:
            df3 = df2[df2.Day == j]
            df = pd.concat([df,df3]) #add to main dataset

df

[[5, 19, 28, 26, 25, 3, 9, 4, 16], [25, 15, 16, 21, 13, 26, 7, 4], [16, 1, 29, 27, 13, 14, 20, 25, 23], [15, 9, 24, 26, 8, 19, 4, 29], [11, 1, 21, 18, 29, 13, 22, 7, 14], [24, 1, 17, 8, 25, 15, 16, 18], [8, 12, 22, 25, 15, 10, 30, 1, 14], [27, 30, 18, 21, 4, 6, 24, 28, 10], [4, 24, 11, 29, 23, 17, 30, 14], [17, 27, 30, 22, 7, 10, 19, 29, 16], [28, 17, 13, 19, 2, 16, 8, 24], [26, 13, 14, 22, 6, 12, 18, 29, 23]]

,Station,Year,Month,Day,Daily Rainfall Total (mm),Highest 30 min Rainfall (mm),Highest 60 min Rainfall (mm),Highest 120 min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
4,Changi,2020,1,5,0.0,0.0,0.0,0.0,27.800000,32.000000,25.100000,12.6,40.7
370,Changi,2019,1,5,0.0,0.0,0.0,0.0,28.000000,31.900000,26.500000,7.9,28.8
735,Changi,2018,1,5,1.0,1.0,1.0,1.0,26.000000,29.000000,24.800000,4.3,18.7
18,Changi,2020,1,19,0.0,0.0,0.0,0.0,28.500000,32.300000,26.300000,14.0,34.6
384,Changi,2019,1,19,0.0,0.0,0.0,0.0,27.200000,31.100000,24.600000,9.4,33.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,Tengah,2019,12,29,0.0,NaN,NaN,NaN,28.389981,32.515181,24.264782,NaN,NaN
3285,Tengah,2018,12,29,0.6,NaN,NaN,NaN,27.250000,31.000000,23.500000,7.6,20.5
2549,Tengah,2020,12,23,0.0,0.0,0.0,0.0,29.000000,33.300000,24.700000,NaN,NaN
2914,Tengah,2019,12,23,0.0,NaN,NaN,NaN,28.900000,33.600000,24.200000,9.0,24.1
3279,Tengah,2018,12,23,0.1,NaN,NaN,NaN,28.450000,33.600000,23.300000,7.6,25.9

In [252]:
df[(df.Month==1) & (df.Station=="Changi")]

,Station,Year,Month,Day,Daily Rainfall Total (mm),Highest 30 min Rainfall (mm),Highest 60 min Rainfall (mm),Highest 120 min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
4,Changi,2020,1,5,0.0,0.0,0.0,0.0,27.8,32.0,25.1,12.6,40.7
370,Changi,2019,1,5,0.0,0.0,0.0,0.0,28.0,31.9,26.5,7.9,28.8
735,Changi,2018,1,5,1.0,1.0,1.0,1.0,26.0,29.0,24.8,4.3,18.7
18,Changi,2020,1,19,0.0,0.0,0.0,0.0,28.5,32.3,26.3,14.0,34.6
384,Changi,2019,1,19,0.0,0.0,0.0,0.0,27.2,31.1,24.6,9.4,33.1
749,Changi,2018,1,19,2.6,2.4,2.6,2.6,26.8,31.7,24.4,7.6,30.6
27,Changi,2020,1,28,0.0,0.0,0.0,0.0,28.6,32.6,26.0,11.2,31.0
393,Changi,2019,1,28,0.6,0.4,0.4,0.4,26.8,28.4,25.8,10.4,32.0
758,Changi,2018,1,28,12.2,5.2,7.8,9.6,26.3,31.5,23.6,6.8,27.4
25,Changi,2020,1,26,0.0,0.0,0.0,0.0,28.3,32.8,25.1,11.9,28.8
391,Changi,2019,1,26,0.0,0.0,0.0,0.0,27.4,30.4,25.6,13.3,34.6
756,Changi,2018,1,26,0.6,0.4,0.6,0.6,26.4,30.9,24.8,6.8,32.0
24,Changi,2020,1,25,0.0,0.0,0.0,0.0,28.1,32.3,25.1,12.6,31.3
390,Changi,2019,1,25,0.4,0.4,0.4,0.4,27.2,30.2,25.0,12.2,34.2
755,Changi,2018,1,25,0.6,0.6,0.6,0.6,26.6,30.2,25.0,6.5,27.0
2,Changi,2020,1,3,0.0,0.0,0.0,0.0,28.0,31.9,26.0,12.6,43.2
368,Changi,2019,1,3,0.0,0.0,0.0,0.0,29.6,32.9,26.2,13.0,43.9
733,Changi,2018,1,3,2.0,1.8,2.0,2.0,26.6,31.1,24.1,7.2,29.2
8,Changi,2020,1,9,0.0,0.0,0.0,0.0,27.8,31.3,26.1,11.5,38.5
374,Changi,2019,1,9,0.0,0.0,0.0,0.0,28.5,32.2,26.1,13.3,37.8
739,Changi,2018,1,9,1.8,1.8,1.8,1.8,27.2,31.4,25.2,8.3,30.2
3,Changi,2020,1,4,0.0,0.0,0.0,0.0,27.6,31.4,25.8,12.2,39.2
369,Changi,2019,1,4,0.0,0.0,0.0,0.0,29.7,33.4,27.0,8.6,31.0
734,Changi,2018,1,4,0.2,0.2,0.2,0.2,26.1,28.2,25.0,8.3,23.8
15,Changi,2020,1,16,0.0,0.0,0.0,0.0,28.0,31.8,25.9,11.9,29.9
381,Changi,2019,1,16,0.0,0.0,0.0,0.0,28.1,32.3,25.8,9.4,31.7
746,Changi,2018,1,16,0.0,0.0,0.0,0.0,26.2,29.9,23.3,7.9,27.4

In [253]:
df=df.sample(frac=1)
df

,Station,Year,Month,Day,Daily Rainfall Total (mm),Highest 30 min Rainfall (mm),Highest 60 min Rainfall (mm),Highest 120 min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
1882,Jurong (West),2018,2,25,0.0,0.0,0.0,0.0,26.700000,30.500000,24.000000,8.3,29.5
2524,Tengah,2020,11,28,2.4,1.8,2.4,2.4,28.389981,32.515181,24.264782,NaN,NaN
835,Changi,2018,4,15,14.0,7.4,8.4,9.8,27.500000,33.500000,24.600000,6.1,31.0
2464,Tengah,2020,9,29,2.6,2.6,2.6,2.6,27.400000,30.500000,24.300000,NaN,42.6
374,Changi,2019,1,9,0.0,0.0,0.0,0.0,28.500000,32.200000,26.100000,13.3,37.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Changi,2020,2,26,0.0,0.0,0.0,0.0,28.400000,32.200000,25.700000,14.4,37.8
2341,Tengah,2020,5,29,1.4,0.6,1.0,1.4,28.850000,32.400000,25.300000,NaN,31.5
1013,Changi,2018,10,10,60.6,24.0,35.0,56.2,26.500000,31.400000,23.700000,5.4,25.6
1444,Jurong (West),2020,12,14,50.0,19.6,27.6,43.6,25.600000,32.000000,23.200000,6.9,47.6
3268,Tengah,2018,12,12,15.5,NaN,NaN,NaN,27.950000,32.400000,23.500000,1.8,40.7

In [254]:
df.to_excel("output.xlsx") 
df_total.to_excel("output2.xlsx")